/* --------------------------- */
/* Base
/* --------------------------- */
html{
  font-size: 62.5%;
}
body{
  font-size: 1.4rem;
  color: #333;
  font-family: 'Noto Sans','Noto Sans JP', sans-serif;
  line-height: 1;
}
img{
  width: 100%;
  vertical-align: bottom;
}
a{
  color: #333;
  text-decoration: none;
}

/* セクション関連 */
.section-wrapper{
  padding: 70px 0;
}
.section-wrapper:first-of-type{
  padding-top: 100px;
}
.section-wrapper:last-of-type{
  padding-bottom: 140px;
}
.section-inner{
  max-width: 760px;
  margin: 0 auto;
  padding: 0 4vw;
}
.section-title{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
}
.section-title_jp{
  font-size: 1.2rem;
  display: block;
  color: #777;
  margin-top: 10px;
}

/* ボタン要素 */
.btn{
  color: #333333;
  display: block;
  line-height: 48px;
  width: 240px;
  border-radius: 24px;
  background-color: #ffffff;
  border: 2px solid #82E7B7;
  text-align: center;
  font-weight: bold;
  transition: .3s;
}
.link-btn{
  position: relative;
}
.btn:hover{
  background-color: #82E7B7;
  border: 2px solid ##82E7B7;
  color: #fff;
  transition: .3s;
}

/* その他の共通クラス */
.text-center{
  text-align: center;
  /* margin-top: 40px; */
}
.block-center{
  margin: auto;
}
.main-bg{
  background-color: #FAFEFC;
}
.accent-bg{
  background-color: #82E7B7;
}
.flex-rr,
.flex-rc{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.multi-lines{
  line-height: 1.8;
}
.sp-br{
  display: none;
}
.s-text-wrapper{
  width: 440px;
}

/* 下層ページのページタイトル */
.page-title-wrapper{
  position: relative;
}
.page-title{
font-size: 3.6rem;
font-weight: bold;
position: absolute;
}
.page-title_jp{
  font-size: 1.4rem;
  display: block;
  text-align: center;
  font-weight: normal;
  margin-top: 10px;
}
.page-title.title-center{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* --------------------------- */
/* header
/* --------------------------- */
.header{
  padding: 24px 3.5vw 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}
/* .btn_trigger{
  display: none;
} */

.btn-trigger {
  position: absolute;
  width: 45px;
  height: 44px;
  cursor: pointer;
  z-index: 3;
  right: 2%;
}

.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #078623;
  border-radius: 4px;
}
.btn-trigger, .btn-trigger span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}
.btn-trigger span:nth-of-type(1) {
  top: 0;
}
.btn-trigger span:nth-of-type(2) {
  top: 20px;
}
.btn-trigger span:nth-of-type(3) {
  bottom: 0;
}


/* #btnham::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '';
  width: 50px;
  height: 50px;
  margin: -29px 0 0 -29px;
  border-radius: 50%;
  border: 4px solid transparent;
  transition: all .75s;
  z-index: 3;
} */

#btnham.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
#btnham.active span:nth-of-type(2) {
  left: 60%;
  opacity: 0;
  -webkit-animation: active-btnham-bar02 .8s forwards;
  animation: active-btnham-bar02 .8s forwards;
}
@-webkit-keyframes active-btnham-bar02 {
  100% {
    height: 0;
  }
}
@keyframes active-btnham-bar02 {
  100% {
    height: 0;
  }
}
#btnham.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}
#btnham.active::after {
  -webkit-animation: active-btnham .7s .25s forwards;
  animation: active-btnham .7s .25s forwards;
}
@-webkit-keyframes active-btnham {
  0% {
    border-color: transparent;
    -webkit-transform: rotate(0);
  }
  25% {
    border-color: transparent #078623 transparent transparent;
  }
  50% {
    border-color: transparent #078623 #078623 transparent;
  }
  75% {
    border-color: transparent #078623 #078623 #078623;
  }
  100% {
    border-color: #078623;
    -webkit-transform: rotate(-680deg);
  }
}
@keyframes active-btnham {
  0% {
    border-color: transparent;
    transform: rotate(0);
  }
  25% {
    border-color: transparent #078623 transparent transparent;
  }
  50% {
    border-color: transparent #078623 #078623 transparent;
  }
  75% {
    border-color: transparent #078623 #078623 #078623;
  }
  100% {
    border-color: #078623;
    transform: rotate(-680deg);
  }
}

.global-nav{
  background-color: #ffffff;
  padding: 0 auto;
}

.global-nav__item{
  padding: 16px 0;
  font-size: 3rem;
}




/* --------------------------- */
/* works
/* --------------------------- */
.works-item{
  width: 47.4%;
  transition: .3s;
}
.works-img-wrapper{
  margin-bottom: 8px;
  background-color: #fff;
  transition: .3s;
  border: 6px solid rgb(130, 231, 183);
}
.works-item a{
  display: block;
  transition: .3s;
}
.works-item a:hover{
  opacity: .8;
  transition: .3s;
}

.works-item a:hover .works-img-wrapper{
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,.08);
  transition: .3s;
}
.works-title{
  font-weight: bold;
}
.works-category{
  display: block;
  font-size: 1.2rem;
  color: #777;
  margin-top: 5px;
  font-weight: normal;
}


.site-title{
  font-size: 2.4rem;
  font-weight: bold;
}
.nav-item{
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 50px;
  position: relative;
}
.nav-item:last-of-type{
  margin-right: 0;
}
.nav-item a{
  display: inline-block;
  padding: 4px;
}
.site-title a:hover,
.nav-item a:hover{
  color: #EB9718;
}
.nav-item.current::before{
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #078623;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}

.btn_trigger{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 28px;
  border: #078623 2px solid;
  position: relative;
  z-index: 3;
}
.bar{
  width: 20px;
  height: 2px;
  background-color: #078623;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.bar_top{
  top: 20px;
}

.bar_bottom{
  bottom: 20px;
}

.btn_trigger.close .bar_top{
  transform: translate(-50%,10px) rotate(45deg);
  transition: transform .3s;
}

.btn_trigger.close .bar_bottom{
  transform: translate(-50%,-9px) rotate(-45deg);
  transition: transform .3s;
}

.global-nav{
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;/*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
}
.global-nav{
    width: 100%;
    height: 100%;
    background-color:rgba(255,255,255,.96);
    z-index: 2;
  }
.global-nav .globalnav__list{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.global-nav .global-nav__item{
  margin-right: 0;
  margin-bottom: 5px;
}

#hammenu{
  padding: 0 .3em;
  font-weight: 900;
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
}

#hammenu:hover {
  background-position: -100% 0;
  background: linear-gradient(to right, #53da8b 25%,#61e9c0 90%);
  color: #fff;
}

#hammenu-works{
  padding: 0 .3em;
}

/* --------------------------- */
/* footer
/* --------------------------- */
.footer{
  border-top: 1px solid #ddd;
  padding: 18px 0;
  font-size: 1.2rem;
  color: #777;
}

@media screen and (max-width:768px){
  .flex-rc{
    flex-direction: column;
    align-items: center;
  }
  .sp-br{
    display: block;
  }
  .section-wrapper{
    padding: 50px 0;
  }
  .section-wrapper:first-of-type{
    padding-top: 70px;
  }
  .section-wrapper:last-of-type{
    padding-bottom: 100px;
  }
  .section-title{
    text-align: center;
  }
  .btn{
    margin: auto;
  }
  .s-text-wrapper{
    width: 100%;
  }
  /* --------------------------- */
  /* header
  /* --------------------------- */
  .nav-list{
    text-align: right;
  }
  .nav-item{
    margin: 0 0 4px 0;
    font-size: 1.4rem;
  }

  .global-nav .global-nav__item{
    margin-right: 0;
    margin-bottom: 0;
  }

  .kv-wrapper{
    display: block;

  }

  .works-img-wrapper{
    margin-bottom: 8px;
    background-color: #fff;
    transition: .3s;
    border: 3px solid rgb(130, 231, 183);
  }
  
  .works-item a{
    padding-bottom: 40px;
  }

  .btn-trigger{
    width: 25px;
    height: 13px;
  }

  #btnham.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
  }

  #btnham.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }

  .btn-trigger span {
    height: 3px;
  }

  .global-nav__item{
    padding: 10px 0;
    font-size: 1.2rem;
  }

}
